.init {
  display: flex;
  /* width: 460px; */
  justify-content: space-between;
  padding: 10px 30px;
}

.lightTheme {
  composes: init;
  background-color: rgb(243, 245, 239);
}
.darkTheme {
  composes: init;
  background-color: rgb(63, 63, 63);
}
